html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.Container{
  display: block;
  margin: 0 230px 0 230px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 500px;
}
.details{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  border-radius: 1rem;
  box-shadow:  0px 2px 6px 2px rgba(163, 219, 189, 0.697);
}
.details .img-container{
  max-width: 400px;
  width: 100%;
  margin: 20px;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* .details .img-container:hover{
  background-size: 150%;
  border: 1px solid #ddd;
  cursor: zoom-in;
} */

.box-details{
  max-width: 500px;
  width: 100%;
  margin: 20px;
}
.box-details h2{
  text-transform: uppercase;
  color: darkblue;
  letter-spacing: 2px;
  font-size: 2rem;
}
.box-details button,
.box-details .cart{
  outline: none;
  background-color: rgb(48, 139, 60);
  cursor: pointer;
  color: white;
  margin-right: 5px;
  margin-top: 10px;
}

.box-details p{
  line-height: 1.5;
  margin: 10px 0;
  opacity: 0.8;
}
.box-details h3{
  color: crimson;
}

.box-details button {
  border-radius: 10px;
  color: #FFFFFF;
}
.box-details .cart{
  text-decoration: none;
  padding: 10px 25px 20px 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}
.cart{
 display: flex !important;
}
.amount span{
  color: crimson;
  padding: 0 20px;
}
.amount .count{
  width: 40px;
  height: 30px;
  border: 1px solid #555;
  outline: none;
  background: #555;
  cursor: pointer;
}
.details .cart.delete{
  position: absolute;
  top:200px;
  right: 260px;
  color: crimson;
  cursor: pointer;
  font-weight: 900;
}
/* .delete{
  position: absolute;
  top:100;
  right: 5px;
  color: crimson;
  cursor: pointer;
  font-weight: 900;
} */
.total{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total a{
  background: #333;
  color: white;
  padding: 10px 25px
}
.total h3{
  margin-right: 50px;
  color: crimson;
}
